# Operating System Files
.DS_Store
Thumbs.db
._*

# IDE / Editor-specific files
.vscode/
.idea/
.windsurf/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Dependency directories
node_modules/
bower_components/

# Build output
dist/
build/
out/

# Environment variables
.env
.env.local
.env.*.local
ideas.md
/.kiro
